$white: #fff;
$black: #000;
$cyan: #e7fdfe;
$green: #090;
$red: #f00;
$blue: #428bca;
$l-blue: #72bbff;
$l-yellow: #f9f3e5;
$l-orange: #ffd288;
$orange: #ffb63f;
$h-orange: #ff9400;
$gray: #999;
$bg: #f3f3f3;
$ccc: #ccc;
$eee: #eee;
$ddd: #ddd;
@mixin common($attr, $value...) {
  -moz-#{$attr}: $value;
  -webkit-#{$attr}: $value;
  #{$attr}: $value;
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

%word {
  word-break: break-all;
  word-wrap: break-word;
}
%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
%text-overflow-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
