/* default style */
body {
  color: #333;
  font: 14px Tahoma,Helvetica,Arial,"宋体",sans-serif;
}
body,h1,h2,h3,h4,p,ul,ol,dl,dt,dd {
  margin: 0;
}
ul,ol {
  padding-left: 0;
  list-style-type: none;
}
input {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
}
a img {
  border: 0;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover, a:active {
  color: #FC6D02;
  text-decoration: underline;
}
em, i {
  font-style: normal;
}
